<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Prashant">
    <title>Register Page</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
      input{
        margin-top: 5px;
        width: 30%;
      }
    </style>
</head>

<body style="text-align: center; margin-top: 150px;">
  <form action="/registersuccess" method="POST">
    <input type="text" name="name" placeholder="Name"><br>
    <input type="email" name="email" placeholder="email@xyz.com"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="submit" id="Submit" value="Register">
  </form>



</body>

</html>